.env
.env.*
keystore.p12
*.jks

build/
bin/
out/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
*.class
*.log

node_modules/
dist/
vue/nginx/dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db

*.db